<app-navbar></app-navbar>
<div class="container py-5">
    <div class="row text-center">
        <h2 *ngIf="!loggedIn">You're not logged in...</h2>
        <table class="table table-hover" *ngIf="carts.length != 0 && loggedIn">
            <tr *ngFor="let cart of carts">
                <td>
                    <img [src]="cart.productImage" [alt]="cart.productName" width="50px" height="100%" />
                </td>
                <td>{{cart.productName}}</td>
                <td>{{cart.productPrice | currency}}</td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-outline-success" (click)="addOrder()">Checkout</button>
                </td>
                <th>Total Price</th>
                <td>{{totalPrice | currency}}</td>
            </tr>
        </table>
    </div>
</div>